@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenue sur la plateforme RXP</h1>

<a href="inscription" class="btn btn-primary">Je m'inscris</a>
<a href="connexion" class="btn btn-primary">Je me connecte</a>